# Этот файл используется для игнорирования сгенерированных файлов
# ----------------------------------------------------------------------------

*~
*.autosave
*.a
*.core
*.moc
*.o
*.obj
*.orig
*.rej
*.so
*.so.*
*_pch.h.cpp
*_resource.rc
*.qm
.#*
*.*#
core
!core/
tags
.DS_Store
.directory
*.debug
Makefile*
*.prl
*.app
moc_*.cpp
ui_*.h
qrc_*.cpp
Thumbs.db
*.res
*.rc
/.qmake.cache
/.qmake.stash

# Сгенерированные файлы qtcreator
*.pro.user*
*.qbs.user*
CMakeLists.txt.user*

# Временные файлы xemacs
*.flc

# Временные файлы Vim
.*.swp

# Сгенерированные файлы Visual Studio
*.ib_pdb_index
*.idb
*.ilk
*.pdb
*.sln
*.suo
*.vcproj
*vcproj.*.*.user
*.ncb
*.sdf
*.opensdf
*.vcxproj
*vcxproj.*

# Сгенерированные файлы MinGW
*.Debug
*.Release

# Байт-код Python
*.pyc

# Исполняемые файлы
# -----------------
*.dll
*.exe

# Директории со сгенерированными файлами
.moc/
.obj/
.pch/
.rcc/
.uic/
/build*/
